
@font-face { font-family: redAlert; src:url('red_alert.ttf'); }

body {
	background-image: url('train.gif');
	background-size: cover;
}

#rectangleLarge {
	width:100%;
	height:auto;
	background-color:LightGray;
	background-color: rgba(211, 211, 211, 0.5);
	position: relative;
	top: 20%;
}

#title {
	font-size: 45px;
	font-family: redAlert;
	text-align: center;
	padding-top: 1%;
}

table#timeTable {
	margin: 0 auto 0 auto;
	font-family: redAlert;
	text-align: center;
	font-size: 30px;
	border-spacing: 20px 5px;
	background-color: rgba(63, 142, 230, 0.8);
}

#turnstile #cryptic {
	font-family: redAlert;
	font-size: 35px;
	text-align: center;
	margin: 15px auto 0 auto;
}

#turnstile #clarity {
	font-family: redAlert;
	font-size: 20px;
	text-align: center;
	padding-bottom: 1%;	
}

a {
	text-decoration: none;
	color: #000066;
}