
@font-face { font-family: redAlert; src:url('red_alert.ttf'); }

body {
	background: url('no_train_animated.gif') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#rectangleLarge {
	width:100%;
	height:auto;
	left: 0;
	background-color:LightGray;
	background-color: rgba(211, 211, 211, 0.5);
	position: absolute;
	top: 20%;
}

#footer {
	width: 100%;
	height: auto;
	background-color: rgba(211, 211, 211, 0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	bottom: 1%;
}

#footerText {
	text-align: center;
	font-family: redAlert;
	font-size: 15px;
}

#ticketStubBg {
	width: 500px;
	height: 200px;
	background-color: rgba(63, 142, 230, 1);
/*	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;*/
	border-radius: 20px;
}

#ticketStubCenter {
	width: auto;
	height: 90px;
	background-color: white;
	vertical-align: middle;
}

#title {
	font-size: 45px;
	font-family: redAlert;
	text-align: center;
	padding-top: 1%;
}

table#timeTable {
	margin: 0 auto;
	font-family: redAlert;
	text-align: center;
	font-size: 30px;
	border-spacing: 20px 5px;
	background-color: rgba(63, 142, 230, 0.8);

	
	width: 30%;
	min-width: 20%;
}

#turnstile #cryptic {
	font-family: redAlert;
	font-size: 35px;
	text-align: center;
	margin: 5px auto 0 auto;
}

#turnstile #clarity {
	font-family: redAlert;
	font-size: 25px;
	text-align: center;
	padding-bottom: 1%;	
}

a {
	text-decoration: none;
	color: #000066;
}